[submodule "kmod-r8168"]
	path = kmod-r8168
	url = https://github.com/BROBIRD/openwrt-r8168.git
	shallow = true
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
	shallow = true
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
	shallow = true
[submodule "luci-app-openclash"]
	path = luci-app-openclash
	url = https://github.com/vernesong/OpenClash.git
	shallow = true
