[submodule "kmod-r8168"]
	path = kmod-r8168
	url = https://github.com/BROBIRD/openwrt-r8168.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
