[submodule "kmod-r8168"]
	path = kmod-r8168
	url = https://github.com/BROBIRD/openwrt-r8168.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
[submodule "luci-theme-neobird"]
	path = luci-theme-neobird
	url = https://github.com/thinktip/luci-theme-neobird.git
